################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookyApp/.vs/BookyApp/FileContentIndex/3f20f10b-8246-4f0f-b814-c3fe024beb08.vsidx
